<div class="p-3">
    <h2>Hello John Doe Alt</h2>

    <mat-card-content>
        <span class="px-2">
            <button mat-icon-button class="mat-icon-button pt-1">
                <mat-icon>favorite</mat-icon>
            </button>
            Here are your liked games:
            </span>
        <mat-chip-list>
            <mat-chip *ngFor="let game of likedGames" (removed)="removeLikedGame(game)">
                {{game}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            </mat-chip-list>
    </mat-card-content>
    <button class="mt-3 mat-flat-button" (click)="clearLikedGames()">
        <mat-icon>clear</mat-icon>
        Clear all
    </button>
</div>